
body,
.pure-g [class*=pure-u] {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    /*font-family: 'Oswald', 'Arial Narrow', sans-serif; */
    /* color: #196cbb; */
    color: #093443;
}
.padding30 {
    padding: 30px;
}